    @import url('http://fonts.cdnfonts.com/css/akira-expanded');
    @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Overpass&family=Roboto:wght@300&display=swap');
     :root {
        /* Variables globales */
        --rojo: #FF0001;
        --interior-rojo: #F4F2DD;
        --complementario-rojo: #03c547;
        --verde: #94f77b;
        --interior-verde: #f3f589;
        --complementario-verde: #AB3391;
        --amarillo: #eefc2d;
        --interior-amarillo: #f7f58e;
        --complementario-amarillo: #000000;
        --coco: #492525;
        --interior-coco: #e0dfdf;
        --complementario-coco: #9e4ac5;
        --melon: #6faa22;
        --interior-melon: #daa646;
        --roboto: 'Roboto', sans-serif;
        --overpass: 'Overpass', sans-serif;
        --julius: 'Julius Sans One', sans-serif;
        --akira: 'Akira Expanded', sans-serif;
    }
    /* DEFAULT */
    
    * {
        margin: 0%;
        padding: 0%;
        font-family: var(--roboto);
        scroll-behavior: smooth;
        cursor: none;
        box-sizing: border-box;
    }
    
    body {
        height: 100vh;
        width: 100%;
    }
    
    ul {
        list-style-type: none;
    }
    
    h1 {
        font-family: var(--akira);
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        width: 100%;
    }
    
    header {
        display: flex;
        background-color: #BB02E0;
        justify-content: space-between;
        padding: 2em;
    }
    
    header .logo {
        color: var(--interior-coco);
        font-weight: bold;
    }
    
    header nav {
        float: right;
    }
    
    header ul {
        display: flex;
    }
    
    header ul a {
        display: block;
        padding: 0 1em;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        padding: 2em;
        box-shadow: 10px black;
        background-color: var(--interior-melon);
    }
    
    footer .logo {
        color: var(--interior-coco);
        font-weight: bold;
    }
    
    footer nav {
        float: right;
    }
    
    footer ul {
        display: flex;
    }
    
    footer ul li {
        display: inline-block;
    }
    
    footer ul a {
        display: block;
        color: black;
        padding: 0 1em;
    }
    
    footer a::after {
        content: " ";
        width: 0px;
        height: 0.5px;
        display: block;
        background-color: #000000;
        transition: .3s;
    }
    
    footer a:hover::after {
        width: 100%;
    }
    
    h2 {
        font-family: var(--akira);
    }
    
    .hero {
        background-color: var(--amarillo);
        color: #000000;
        display: grid;
        text-align: center;
        padding: 4em;
    }
    
    .meet {
        display: flex;
        margin: 0 auto;
        width: 170px;
        font-weight: bold;
        color: var(--complementario-amarillo);
    }
    
    .meet span {
        margin-right: .5em;
    }
    
    .scroll {
        width: 80px;
        margin-top: 2em;
    }
    
    .scroll-text {
        text-align: center;
        margin-left: -18px;
        text-transform: uppercase;
        margin-top: -80px;
    }
    
    section {
        padding: 4em 2em;
        text-align: center;
    }
    
    .featured {
        position: relative;
    }
    
    .featured::before {
        content: " ";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #E5D5FA;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .inner .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(160, 16, 134) !important;
        letter-spacing: .2em;
        font-size: .85em;
    }
    
    .featured-title {
        color: black;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 3em;
        margin-top: -.4em;
        display: block;
    }
    
    .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .2em;
        font-size: .85em;
        color: white;
    }
    
    .featured-desc {
        color: #252525;
        margin-bottom: 3em;
        font-size: .9em;
        line-height: 1.8em;
        font-weight: 700;
    }
    
    .skills {
        background-color: var(--coco);
    }
    
    .skills-container ul li {
        background-color: var(--interior-coco);
        padding: 2em;
        border-radius: 1em;
        margin-bottom: 1em;
    }
    
    .skills-container ul li .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;
    }
    
    .one {
        width: 50px;
    }
    
    .two {
        width: 100px;
    }
    
    .three {
        width: 60px;
    }
    
    .skill-title {
        font-weight: bold;
    }
    
    .featured-desc {
        margin-bottom: 2em;
    }
    
    .portfolio {
        background-color: #F7F7F7;
    }
    
    .portfolio-container a img {
        border-radius: 1em;
        margin-bottom: 2em;
    }
    
    .cursor {
        width: 20px;
        height: 20px;
        border: 1px solid black;
        border-radius: 50%;
        position: absolute;
        transition-duration: 50ms;
        transition-timing-function: ease-out;
        animation: cursorAnim 1s infinite alternate;
        pointer-events: none;
        z-index: 10;
    }
    
    .cursor::after {
        content: " ";
        width: 20px;
        height: 20px;
        position: absolute;
        border: 8px solid gray;
        opacity: .5;
        border-radius: 50%;
        top: -9px;
        left: -9px;
        animation: cursorAnim2 1s infinite alternate;
    }
    
    .expand {
        animation: cursorAnim3 .3s forwards;
        border: 1px solid black;
    }
    /* NAVIGATION MENU BEGINS */
    
    .nav-container {
        background-color: #6700EE;
    }
    
    .nav-container a {
        color: white;
    }
    
    .nav-container ul li {
        display: inline-block;
    }
    
    .nav-container a::after {
        content: " ";
        width: 0px;
        height: 0.5px;
        display: block;
        background: black;
        transition: .3s;
    }
    
    .nav-container a:hover::after {
        width: 100%;
    }
    /*

    NAVIGATION MENU ENDS

*/
    /*
    
    INDEX BEGINS

*/
    /*

    IMAGES CONTAINER BEGINS

*/
    
    .img-container {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        float: left;
        width: 33.33%;
        padding: 5px;
        height: 500px;
    }
    
    .img-container img {
        width: 100%;
    }
    
    .big-container {
        background-color: #765342;
        overflow: hidden;
    }
    /*
    IMAGES CONTAINER ENDS
*/
    
    .article-container article {
        height: 100%;
    }
    
    hr {
        margin: 20px;
    }
    
    iframe[src="https://www.youtube"] {
        margin: 1em auto;
        padding: 20px;
        justify-content: center;
    }
    
    article h2 {
        margin-top: 20px;
        text-align: center;
        text-decoration: underline;
        user-select: none;
    }
    
    article p {
        padding: 10px 20px;
        line-height: 1.5em;
        text-align: justify;
    }
    
    article p::first-letter {
        font-weight: bold;
        font-size: 1.3em;
    }
    
    article q {
        margin: 20px 3px 20px 50px;
        font-style: italic;
    }
    
    article *::selection,
    article::selection {
        color: var(--interior-melon);
        background-color: var(--complementario-verde);
    }
    
    article .author {
        font-weight: bold;
    }
    /*
    ASIDE CONTAINER BEGINS
*/
    
    .navegador-articulos {
        margin: 20px 0 0 30px;
        width: fit-content;
    }
    
    .navegador-articulos ol li {
        list-style-type: upper-roman;
    }
    
    .navegador-articulos a {
        padding: 10px 0;
        color: black;
        display: block;
    }
    
    .navegador-articulos a:not(:visited) {
        color: black;
    }
    
    .navegador-articulos a:target {
        transition: all 2s ease-in-out;
    }
    
    .navegador-articulos li::after {
        content: " ";
        width: 0;
        height: 0.5px;
        display: block;
        background: black;
        transition: .3s;
    }
    
    .navegador-articulos li:hover::after {
        width: 100%;
    }
    /*
    ASIDE CONTAINER ENDS
*/
    /*
    SERVICES BEGINS
*/
    
    .serv-body {
        background: linear-gradient(-45deg, #794434, #e73c7e, #0982ad, #d523b7);
        animation: gradient 15s ease infinite;
        background-size: 300% 300%;
    }
    
    .serv-title {
        width: 100%;
        padding-top: 40px;
    }
    
    .services-container ul li {
        background-color: var(--interior-verde);
        padding: 2em;
        margin: 2em 0;
        border-radius: 1em;
        margin-bottom: 1em;
    }
    
    .services-container ul li .pic-container {
        display: grid;
        place-content: center;
        margin: 0 auto;
    }
    
    .service-title {
        font-weight: bold;
    }
    
    .serv-title h2 {
        text-align: center;
        width: 100%;
        font-size: 4em;
    }
    /* SERVICES ENDS */
    
    table {
        background-color: white;
        font-size: 4em;
        text-align: center;
        border-collapse: collapse;
        border: 10px solid var(--azul);
        margin: 2em auto;
    }
    
    table td,
    th {
        border: 2px solid black;
        width: 15%;
    }
    
    table th::first-letter {
        text-transform: uppercase;
        font-family: var(--overpass);
    }
    
    table td:first-child {
        font-style: italic;
    }
    
    table td:last-child {
        font-weight: bold;
    }
    
    table td:nth-child(odd) {
        color: red;
    }
    
    table tr:nth-child(even):hover {
        transform: scaleY(0.6);
    }
    /* 

    /* BOTON IR ARRIBA */
    
    .goto-top {
        padding: 20px;
        color: black;
        background-color: var(--lila);
        border-radius: 50px;
        position: fixed;
        bottom: 55px;
        right: 35px;
        font-size: 1em;
    }
    
    .goto-top a {
        color: var(--interior-melon);
        font-weight: bold;
        font-family: var(--overpass);
        background-color: #3a0eb4a6;
        padding: 10px;
        border-radius: 20px;
    }
    /* FOOTER BEGINS */
    /* CONTACT BEGINS*/
    
    .redes {
        display: grid;
    }
    
    .redes a {
        width: 20px;
        height: 20px;
        padding: 2em;
        background-color: black;
    }
    
    .grande {
        align-items: center;
        background-color: #000;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    
    .form {
        background-color: #15172b;
        border-radius: 20px;
        box-sizing: border-box;
        height: max-content;
        padding: 20px;
        width: 80vw;
        transition: .5s;
    }
    
    .title {
        color: #eee;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
    }
    
    .subtitle {
        color: #eee;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .input-container {
        height: 50px;
        position: relative;
        width: 100%;
    }
    
    .ic1 {
        margin-top: 40px;
    }
    
    .ic2 {
        margin-top: 30px;
    }
    
    textarea {
        resize: none;
        padding-top: 15px !important;
    }
    
    .input {
        background-color: #303245;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: inherit;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
    }
    
    .input[type="number"]::-webkit-inner-spin-button,
    .input[type="number"]::-webkit-outer-spin-button {
        appearance: none;
    }
    
    .cut {
        background-color: #15172b;
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 70px;
    }
    
    .input:focus~.cut,
    .input:not(:placeholder-shown)~.cut {
        transform: translateY(8px);
    }
    
    textarea::placeholder,
    .placeholder {
        color: #65657b;
        font-family: sans-serif;
        left: 20px;
        line-height: 14px;
        font-size: inherit;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
    }
    
    .input:focus~.placeholder,
    .input:not(:placeholder-shown)~.placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
    }
    
    .input:not(:placeholder-shown)~.placeholder {
        color: #808097;
    }
    
    .input:focus~.placeholder {
        color: #dc2f55;
    }
    
    .btn-container {
        display: flex;
        justify-content: center;
        margin: 25px 0;
    }
    
    button[type=submit] {
        height: 4em;
        width: 20vw;
        font-weight: bold;
        position: relative;
        display: block;
        padding: 15px 20px;
        text-transform: uppercase;
        text-decoration: none;
        transition: .5s;
        letter-spacing: 4px;
        background-color: #000000;
        color: #FFFFFF;
        overflow: hidden;
        border: none;
        border-radius: 10px;
    }
    
    button[type=submit]:hover {
        background-color: #BB02E0;
        color: #FFFFFF;
        box-shadow: 0 0 100px #BB02E0;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
    
    button[type=submit] span {
        position: absolute;
        display: block;
    }
    
    button[type=submit] span:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #BB02E0);
        animation: arriba 1s linear infinite;
    }
    
    button[type=submit] span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #BB02E0);
        animation: derecha 1s linear infinite;
        animation-delay: .25s;
    }
    
    button[type=submit] span:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(270deg, transparent, #BB02E0);
        animation: abajo 1s linear infinite;
        animation-delay: .50s;
    }
    
    button[type=submit] span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #BB02e0);
        animation: izquierda 1s linear infinite;
        animation-delay: .75s;
    }
    /* CONTACT ENDS */
    
    #btn-fixed {
        /*display: block;*/
        position: fixed;
        bottom: 60px;
        right: 10px;
    }
    
    .footer-container {
        background-color: var(--interior-melon);
    }
    
    .footer-container a {
        color: black;
    }
    
    .footer-container ul li {
        display: inline-block;
    }
    /*
    FOOTER ENDS
    */
    
    .not-found {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        flex: 1;
    }
    
    .not-found h1 {
        text-align: center;
        font-size: 4em;
    }
    
    .not-found h1::first-letter {
        font-size: 1.2em;
    }
    
    .not-found p {
        text-align: center;
        font-size: 2em;
    }
    
    .gears {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .gear {
        height: 150px;
        width: 150px;
        position: fixed;
    }
    
    .uno {
        top: 40%;
        left: 25%;
        animation: girar 4500ms infinite linear;
    }
    
    .dos {
        top: 26%;
        left: 32%;
        height: 160px;
        width: 160px;
        animation: girar2 4500ms infinite linear;
        animation-delay: 0.7s;
    }
    
    .tres {
        top: 490px;
        left: 42.7%;
        height: 125px;
        width: 125px;
        animation: roto 500ms infinite normal;
    }
    
    .footer-404 {
        flex-shrink: 0;
    }
    /* MEDIA AND KEYFRAMES */
    
    @keyframes girar {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes girar2 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
    
    @keyframes roto {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(10deg);
        }
    }
    
    @media (min-width:1024px) {
        button[type=submit] {
            width: 350px;
        }
    }
    /*Este media query hace que cuando la página sea grande, aparezca un cursor personalizado
    (ya que los usuarios de dispositivos con pantallas más pequeñas, generalmente tabletas y móviles, no tienen cursor y por ende, no lo van a ver)*/
    
    @media (max-width: 1024px) {
        * {
            cursor: default;
        }
        .serv-content {
            animation: none;
            position: absolute;
            display: flex;
        }
        .cursor {
            display: none;
        }
        .cursor::after {
            display: none;
        }
    }
    /* Cuando sea un móvil desaparecerá la imagen y el texto de scrolling */
    
    @media screen and (max-width:768px) {
        .scroll {
            display: none;
        }
        .scroll-text {
            display: none;
        }
        .form {
            width: 90vw;
        }
    }
    /*Cambiamos la paleta de colores de servicios para las pantallas
    más pequeñas que 720px*/
    
    @media (max-width: 720px) {
        .services-container li {
            background-color: var(--interior-melon) !important;
        }
        .footer-container img {
            height: 20px;
            width: 20px;
        }
    }
    
    @keyframes cursorAnim {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(.8);
        }
    }
    
    @keyframes cursorAnim2 {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(.4);
        }
    }
    
    @keyframes cursorAnim3 {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(3);
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    /*linea de arriba*/
    
    @keyframes arriba {
        0% {
            left: -100%;
        }
        50%,
        100% {
            left: 100%;
        }
    }
    /*linea de la derecha*/
    
    @keyframes derecha {
        0% {
            top: -100%;
        }
        50%,
        100% {
            top: 100%;
        }
    }
    /* linea de abajo */
    
    @keyframes abajo {
        0% {
            right: -100%;
        }
        50%,
        100% {
            right: 100%;
        }
    }
    
    @keyframes izquierda {
        0% {
            bottom: -100%;
        }
        50%,
        100% {
            bottom: 100%;
        }
    }
    /* linea de la izquierda */